// _變數(Variable) $name:數值;
$mainColor:#aaf;
$SecColor:#fff;
// 樣式:$name;

// _繼承(Extend)  %被繼承的樣式
%aButton{
  text-decoration: none;
  display: block;
  padding: 0;
}
// 樣式:@extend %aButton

// _函式(Function)
@function line($count:1,$baseLineHeight:10px){
  @return $baseLineHeight*$count;
}
// 樣式:line(n);

// _混用(Mixin)
@mixin aButton() {
  text-decoration: none;
  display: block;
}
// 樣式:{
//   @include aButton();
// }

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  .logo {
    text-decoration: none;
    color: #fff;
    background-color: $mainColor;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
  }
  .nav-links {
    text-align: right;
    background: $mainColor;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
    ul {
      li {
        list-style: none;
        display: inline-block;
        padding: 10px 25px;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }
}
