@media screen and (max-width:768px){
  .Bword {
    display: none;
  }
  .user p {
    display: none;
  }
  .link {
    display: block;
    margin: 0rem 0.5rem;
    padding: 1rem 0.5rem;
    align-items: center;
    cursor: pointer;
  }
  .link h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0rem 1rem;
    transition: 0.5s;
  }
  .link h2:hover {
    background-color: rgb(7, 142, 253);
    color: aliceblue;
    border-radius: 50px;
  }
  .link img {
    display: none;
  }
  .glass {
    min-height: 50vh;
  }

}





@media screen and (max-width: 414px) {
  .Bword {
    display: none;
  }
  .user p {
    display: none;
  }
  .link {
    display: block;
    margin: 0rem 0.5rem;
    padding: 1rem 0.5rem;
    align-items: center;
    cursor: pointer;
  }
  .link h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0rem 1rem;
    transition: 0.5s;
  }
  .link h2:hover {
    background-color: rgb(7, 142, 253);
    color: aliceblue;
    border-radius: 50px;
  }
  .link img {
    display: none;
  }
  .glass {
    min-height: 30vh;
  }

  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;
  }
  .status {
    margin-top: 0rem;
    text-align: center;
  }

  .status input {
    display: none;
  }
  .switch p {
    font-size: 10px;
    display: none;
  }

  .card {
    padding: 0rem;
    width: 90%;
    margin: 0.5rem;
  }

  #About h2 {
    display: none;
  }
  #About p {
    display: inline-block;
  }

  .centerCard {
    justify-content: center;
    transform: translateY(20%);
    /* width: fit-content; */
  }
  .progress,
  .progress70,
  .progress80,
  .progress90,
  .progress99,
  .progress100 {
    display: none;
  }
  .progress::after,
  .progress70::after,
  .progress80::after,
  .progress90::after,
  .progress99::after {
    display: none;
  }
  .card-info {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .card-info h2 {
    font-size: 14px;
  }

  .card-infoleft {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .percentage {
    display: none;
  }
  #Contact img {
    width: 60px;
  }
  #Contact h2 {
    display: none;
  }
  #Contact .cards {
    display: flex;
    flex-direction: column;
  }
  #Contact .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0);
  }
  #Contact .card:nth-child(5) img {
    transform: translateY(-85%);
  }
  #Contact .card:nth-child(2) img {
    transform: translateY(20%);
  }
}
