@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
/* Preferred icon size */
display: inline-block;
line-height: 28px;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;
/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;
/* Support for IE. */
-webkit-font-feature-settings: 'liga';
font-feature-settings: 'liga';
}

body,
html {
width: 100%;
min-height: 100vh;
padding: 0;
margin: 0;
font-family: 'cwTeXYen', sans-serif;
font-size: 18px;
color: #3f5d45;
}

* {
position: relative;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
padding: 0;
margin: 0;
}

input,
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0px;
outline: none;
border: none;
font-family: 'cwTeXYen', sans-serif;
font-size: 18px;
}

a {
text-decoration: none;
color: #3f5d45;
}

ul,
li {
list-style: none;
padding: 0;
margin: 0;
}
/* CSSreset CSSreset CSSreset CSSreset CSSreset CSSreset */
.b{
  background-color: #000;
}

.logo{
cursor: pointer;
}

.nav-links{
width: 276px;
height: 100px;
margin-left: auto;
margin-right: 50px;

}
.nav-links li {
color: #3F5D45;
padding: 15px 30px;
font: normal normal 600 16px PingFang TC;
transition: 0.5s;
}

.nav-links li:hover{
 background: #ffe180;
}

.carts {
width: 50px;
height: 50px;
text-align: center;
color: #3f5d45;
transition: 0.5s;
}
.carts:hover {
background: #ffe180;
}
.carts .fas {
line-height: 50px;
}
/* navbar */

.carts_main{
  margin-top: 30px;
  margin-bottom: 40px;
}

.carts_right{
  height: 246px; /*???*/
  width: 300px;
  color:#EAF0ED ;
  background-color: #3F5D45;
  padding: 0;
  position: relative;
}
.right_h3{
  height: 65px;
  font: normal normal 600 24px/20px PingFang TC;
  margin-bottom: 8px;

}
.right_h3::before{
  content: '';
  border-bottom: 1px solid #EAF0ED;
  width: 260px;
  height: 65px;
  position: absolute;
}
.carts_right li{
  width: 264px;
  display: flex;
  justify-content: space-between;
  font: normal normal 300 16px/20px PingFang TC;
  margin-top: 8px;
}
.carts_right li:nth-last-child(1){
  font: normal normal 600 20px/20px PingFang TC;
  margin-top: 16px;
}


  .carts_submitz{
    height: 65px;
    background-color: #FFE180;
    color: #3f5d45;
    font: normal normal 600 24px/20px PingFang TC;
    cursor: pointer;
    transition: .5s;
    margin-top: 16px;

  }
  .carts_submitz:hover{
    background-color: #fae398;
  }



.left_h3{
  width: 620px;
  height: 65px;
  background: #EAF0ED 0% 0% no-repeat padding-box;
  font: normal normal 600 24px/20px PingFang TC;
  margin-bottom: 13px;
}

.carts_left li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAF0ED;
}
.carts_left li:nth-last-child(1){
  border-bottom: 0px;
}

.carts_left .p_p{
  width: 107px;
  height: 53px;
  display: flex;
  flex-direction: column;
}
.d_block{
  display: flex;
}
.d_block input{
  cursor:default;
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid #EAF0ED;
}
.carts_left .price{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 28px;

}
.dele{
  cursor: pointer;
}
.p_pic{
  width: 110px;
  height: 110px;
  background-size: cover;
  background-position: center center;
}
.carts_left li:nth-child(1) .p_pic{
  background-image: url(./images/p_item\ \(7\).jpg);
}
.carts_left li:nth-child(2) .p_pic{
  background-image: url(./images/p_item\ \(5\).jpg);
}
.carts_left li:nth-child(3) .p_pic{
  background-image: url(./images/p_item\ \(3\).jpg);
}

/* footer */
.footer1 {
width: 100%;
height: 116px;
background-color: #3f5d45;
}

.mail_sweet {
margin-top: 35px;
}
.mail_sweet p {
font: normal normal normal 20px/24px Helvetica Neue;
margin-left: 20px;
color: #eaf0ed;
}
.container{
  max-width: 940px;
}
.container780 {
margin-right: auto;
margin-left: auto;
width: 100%;
max-width: 780px;
display: flex;
justify-content: space-between;
align-items: center;
}
.mail_box {
margin-top: 30px;
width: 380px;
height: 56px;
}

.mail_box input {
width: 316px;
height: 56px;
font-size: 16px;
text-indent: 21px;
background: #EAF0ED;
}
.mail_box .arrow {
  width: 64px;
  height: 56px;
  color: #3f5d45;
  background-color: #ffe180;
  cursor: pointer;
  }
.iconset{
color: #3f5d45;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
text-decoration: inherit;
background-color: #EAF0ED;
width: 46px;
height: 56px;
}

.footer2 {
width: 100%;
height: 341px;
background-color: #eaf0ed;
}
.footer2_Left {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 210px;
margin-top: 38.9px;
}
.footer2_Left p {
width: 227px;
height: 68px;
font: normal normal normal 16px/24px Helvetica Neue;
}
.footer3 {
display: flex;
justify-content: center;
align-items: center;
height: 92px;
}
.footer3 img {
margin-right: 8px;
cursor: pointer;
width:32px;
}
.ft3_p {
font: normal normal normal 16px/19px Times;
transform: translateY(7px);
}
.rwdpic{
display: none;
}

@media screen and (max-width:768px) {
.carts{
width: 70px;
height: 70px;
font-size: 30px;
line-height: 70px;
color: #3f5d45;
transition: 0.5s;
}
.line{
width: 30px;
height: 3px;
background: #3F5D45;
margin: 7px;
}
nav{
height: 100px;
}
.hamburger{
cursor: pointer;
z-index: 2;
margin-left: 30px;
}
.nav-links{
position: fixed;
background: #FFE180;
height: 100vh;
width: 100%;
flex-direction: column;
transform: translateY(10%);
clip-path: circle(100px at -100% -10%);
-webkit-clip-path:circle(100px at -100% -10%);
transition: all 1s ease-out;
pointer-events: none;
z-index: 1;
}
.nav-links.open{
clip-path: circle(1000px at 50% -40%);
-webkit-clip-path:circle(1000px at 50% -40%);
pointer-events: all;
z-index: 1;

}
.nav-links li{
font-size: 25px;
opacity: 1;
}

.container{
padding: 0;
}


.rwdpic{
display:inline-block;
}
.nrwdpic{
display: none;
}
 
.product{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.foods {
margin-bottom: 30px;
}
.container780 {
margin-right: auto;
margin-left: auto;
width: 100%;
max-width: 780px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.footer1 {
width: 100%;
height: 186px;
background-color: #3f5d45;
}
.footer2_Left {
margin-right: auto;
padding-left: 30px;
align-items: flex-start;
height: 134px;
margin-top: 38.9px;
}
.footer2 {
width: 100%;
height: 311px;
background-color: #eaf0ed;
}


.ft3_p {
font: normal normal normal 16px/19px Times;
transform: translateY(-10px);
}
.footer3_icon{
margin-right: auto;
padding-left: 30px;
align-items: flex-start;
}


.page_bt{
  margin-top: -19px;
  margin-bottom: 11px;
}


.page_bt nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_main{
  margin-top: 0px;
  margin-bottom: 0px;
}
.carts_right{
  width: 100vw;
}

.form-groupz{ 
  display: flex;
  justify-content:center;
}











.carts_main{
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carts_right{
  height: 246px;
  width: 100wh;
  color:#3F5D45 ;
  background-color: #FFFFFF;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_h3{
  height: 65px;
  width: 315px;
  font: normal normal 600 24px/20px PingFang TC;
  background-color: #EAF0ED;

}

.carts_right li{
  width: 315px;
}

.right_h3::before{
  border-bottom: 0px ;

}


  .carts_submitz{
    width: 100vw;
  }



.left_h3{
  width: 150vw;
}



.carts_left li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30.5px;
  padding-bottom: 8.5px;
  border-bottom: 1px solid #EAF0ED;
}

.carts_left .p_p{
  align-items: center;
  justify-content: center;
  font: normal normal 300 20px/20px PingFang TC;
}
.d_block{
  display: flex;
}
.block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #EAF0ED;
}
.carts_left .price{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 28px;

}
.p_pic{
  width: 157px;
  height: 106px;
  background-size: cover;
  background-position: center center;
  margin-right: 16px;
  margin-left: 30px;
}
.carts_left li:nth-child(1) .p_pic{
  width: 300px;
  height: 150px;
}
.carts_left li:nth-child(2) .p_pic{
  width: 300px;
  height: 150px;
}
.carts_left li:nth-child(3) .p_pic{
  width: 300px;
  height: 150px;
}


}

