@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
/* Preferred icon size */
display: inline-block;
line-height: 28px;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
/* Support for all WebKit browsers. */
-webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
text-rendering: optimizeLegibility;
/* Support for Firefox. */
-moz-osx-font-smoothing: grayscale;
/* Support for IE. */
-webkit-font-feature-settings: 'liga';
font-feature-settings: 'liga';
}

body,
html {
width: 100%;
min-height: 100vh;
padding: 0;
margin: 0;
font-family: 'cwTeXYen', sans-serif;
font-size: 18px;
color: #3f5d45;
}

* {
position: relative;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
padding: 0;
margin: 0;
}

input,
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0px;
outline: none;
border: none;
font-family: 'cwTeXYen', sans-serif;
font-size: 18px;
}

a {
text-decoration: none;
color: #3f5d45;
}

ul,
li {
list-style: none;
padding: 0;
margin: 0;
}
/* CSSreset CSSreset CSSreset CSSreset CSSreset CSSreset */

.logo{
cursor: pointer;
}

.nav-links{
width: 276px;
height: 100px;
margin-left: auto;
margin-right: 50px;

}
.nav-links li {
color: #3F5D45;
padding: 15px 30px;
font: normal normal 600 16px PingFang TC;
transition: 0.5s;
}

.nav-links li:hover{
 background: #ffe180;
}

.carts {
width: 50px;
height: 50px;
text-align: center;
color: #3f5d45;
transition: 0.5s;
}
.carts:hover {
background: #ffe180;
}
.carts .fas {
line-height: 50px;
}


.bpic {
height: 496px;
margin-bottom: 60px;
background-size: cover;
background-position: center;
background-image: url(./images/banner-shop.jpg);
position: relative;
}
.bpic img{
position: absolute;
top: 40px;
right: 40px;
}



.Menu_left li{
border: 1px solid #EAF0ED;
border-top: 0px ;
display: flex;
justify-content: center;
align-items: center;
width: 300px;
height: 65px;
background-color: #fff;
text-align: center;
font: normal normal 600 24px/40px PingFang TC;
cursor: pointer;
}
.Menu_left li:hover{
background-color: #EAF0ED;
}

.Menu_left li:nth-child(1){
color:#EAF0ED ;
background-color: #3F5D45;
cursor: default;
}

.Menu_right{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}



.page_bt{
  margin-top: 10px;
  margin-bottom: 60px;
}
.page_bt nav{
  display: flex;
  justify-content: flex-end;
}

.product_Menu{
  display: flex;
}

.foods {
margin-bottom: 20px;
}
.product{
display: flex;
justify-content: space-between;
}
.food_pic {
position: relative;
}
.goodtoday {
width: 36px;
height: 106.73px;
background-color: #3f5d45;
color: #eaf0ed;
position: absolute;
top: 0;
left: 20px;
cursor: default;
transition: 0.5s;
}
.goodtoday p {
font: normal normal 600 16px/20px PingFang TC;
writing-mode: vertical-rl;
letter-spacing: 5px;
margin: auto;
}
.goodtoday:hover {
color: #ffe180;
}

.food_pic .far {
position: absolute;
top: 19px;
right: 22px;
font-size: 20px;
cursor: pointer;
transition: 0.5s;
}
.food_pic .far:hover {
transform: scale(1.3);
color: red;
}


.foods_name {
height: 56px;
width: 173px;
}
.price {
height: 56px;
width: 127px;
}

.nandp {
border: 1px solid #eaf0ed;
border-top: 0px;
border-bottom: 0px;
}
.foods_name {
font: normal normal 500 20px/20px PingFang TC;
color: #3f5d45;
cursor: default;
}
.price {
font: normal normal 600 20px/24px PingFang TC;
color: #3f5d45;
border-left: 1px solid #eaf0ed;
cursor: default;
}
.addtocarts {
font: normal normal 600 24px/20px PingFang TC;
color: #3f5d45;
height: 65px;
background-color: #eaf0ed;
border: 1px solid #eaf0ed;
cursor: pointer;
transition: 0.5s;
}
.addtocarts:hover {
background: #ffe180;
}
.footer1 {
width: 100%;
height: 116px;
background-color: #3f5d45;
}

.mail_sweet {
margin-top: 35px;
}
.mail_sweet p {
font: normal normal normal 20px/24px Helvetica Neue;
margin-left: 20px;
color: #eaf0ed;
}

.container780 {
margin-right: auto;
margin-left: auto;
width: 100%;
max-width: 780px;
display: flex;
justify-content: space-between;
align-items: center;
}
.mail_box {
margin-top: 30px;
width: 380px;
height: 56px;
}
.mail_box .arrow {
width: 64px;
height: 56px;
color: #3f5d45;
background-color: #ffe180;
cursor: pointer;
}
.mail_box input {
width: 316px;
height: 56px;
font-size: 16px;
text-indent: 21px;
}
.mail_fas {
color: #3f5d45;
content: '\f35a';
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
text-decoration: inherit;
background-color: #fff;
width: 46px;
height: 56px;
}

.footer2 {
width: 100%;
height: 341px;
background-color: #eaf0ed;
}
.footer2_Left {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 210px;
margin-top: 38.9px;
}
.footer2_Left p {
width: 227px;
height: 68px;
font: normal normal normal 16px/24px Helvetica Neue;
}
.footer3 {
display: flex;
justify-content: center;
align-items: center;
height: 92px;
}
.footer3 img {
margin-right: 8px;
cursor: pointer;
width:32px;
}
.ft3_p {
font: normal normal normal 16px/19px Times;
transform: translateY(7px);
}
.rwdpic{
display: none;
}

@media screen and (max-width:768px) {
.carts{
width: 70px;
height: 70px;
font-size: 30px;
line-height: 70px;
color: #3f5d45;
transition: 0.5s;
}
.line{
width: 30px;
height: 3px;
background: #3F5D45;
margin: 7px;
}
nav{
height: 100px;
}
.hamburger{
cursor: pointer;
z-index: 2;
}
.nav-links{
position: fixed;
background: #FFE180;
height: 100vh;
width: 100%;
flex-direction: column;
transform: translateY(10%);
clip-path: circle(100px at -100% -10%);
-webkit-clip-path:circle(100px at -100% -10%);
transition: all 1s ease-out;
pointer-events: none;
z-index: 1;
}
.nav-links.open{
clip-path: circle(1000px at 50% -40%);
-webkit-clip-path:circle(1000px at 50% -40%);
pointer-events: all;
z-index: 1;

}
.nav-links li{
font-size: 25px;
opacity: 1;
}

.container{
padding: 0;
}


.rwdpic{
display:inline-block;
}
.nrwdpic{
display: none;
}
 
.product{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.foods {
margin-bottom: 30px;
}
.container780 {
margin-right: auto;
margin-left: auto;
width: 100%;
max-width: 780px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.footer1 {
width: 100%;
height: 186px;
background-color: #3f5d45;
}
.footer2_Left {
margin-right: auto;
padding-left: 30px;
align-items: flex-start;
height: 134px;
margin-top: 38.9px;
}
.footer2 {
width: 100%;
height: 311px;
background-color: #eaf0ed;
}


.ft3_p {
font: normal normal normal 16px/19px Times;
transform: translateY(-10px);
}
.footer3_icon{
margin-right: auto;
padding-left: 30px;
align-items: flex-start;
}


.page_bt{
  margin-top: -19px;
  margin-bottom: 11px;
}


.page_bt nav{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Menu_left li{
  border: 1px solid #EAF0ED;
  width: 100vw;
  height: 65px;
  }
  .bpic {
    height: 277px;
    margin-bottom: 0px;
    }
    .bpic img{
    width: 60px;
    height: 220px;
    top: 30px;
    right: 30px;
    }

    .product_Menu{
      display: block;
    }
    .Menu_right{
      display: flex;
      justify-content: center;
      margin: 20px;
    }

}

