*{
    margin: 0;
    padding: 0;

}


.wrap{
    width: 100vw;
    height: 300vh;
    background: linear-gradient( #2c3e50,#34495e,#2980b9,#3498db);
}

.wrap p {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 100px;
}

.backTop{
    width: 64px;
    height: 64px;
    background: url(./pic/backTop.png);
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
}

.backTop:hover {
    background-position: bottom;
}



