.colormain{
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;
    margin: auto;
}


.boxcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

#box1,#box2,#box3,#box4
,#box5,#box6,#box7,#box8
,#box9,#box10,#box11,#box12{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #FFFFFF;
    transition: .5s;
    font-size: 15px;
}
#box1:hover,#box2:hover,#box3:hover,#box4:hover
,#box5:hover,#box6:hover,#box7:hover,#box8:hover
,#box9:hover,#box10:hover,#box11:hover,#box12:hover
{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgb(0,0,0,.1);
    font-size: 25px
}


#box1{
    background-color:   #de3163;
    
}
#box2{
    background-color:   #cf5555;
    
}
#box3{
    background-color:   #f5d442;
    
    
}
#box4{
    background-color:   #bcf542;
    
}
#box5{
    background-color:   #87f542;
    
}
#box6{
    background-color:   #40e0d0;
    
}
#box7{
    background-color:   #4296f5;
    
}
#box8{
    background-color:   #6495ed;
    
}
#box9{
    background-color:   #4242f5;
    
}
#box10{
    background-color:   #7542f5;
    
}
#box11{
    background-color:   #e487f5;
    
    
}
#box12{
    background-color:   #f5ad42;
    
}


.backhome{
    position: fixed;
    bottom: 0;
    right: 0;
}
