body{
    width: 950px;
    margin: auto;
}

.top{
    background-color: black;
    color:#FFFFFF;
    height: 200px;
}

.title{
    text-align: center;
    color: blanchedalmond;
}

.linkweb{
    height: 40px;
    display: flex;
    justify-content: center;
}

.linkbox{
    background-color: rgb(33, 179, 147);
    margin-right: 10px;
    margin-left: 10px;
    height: 35px;
    width: 100px;
    line-height: 40px;
    transition: .5s;
}

a{
    color: blanchedalmond;
    text-decoration:none;
}

.linkbox:hover{
    transform: scale(1.08);
}

img{
    float: left;
  }

  .content{
    clear: both;
  } 




.container{
    display: flex;
    justify-content: center;
    font: 15px Arial, Helvetica, sans-serif;
}

.top,.webleft,.webmid,.webright{
    border: 5px solid #ffffff;
    padding: 10px;
}

.webleft{
    width: 100px;
    background-color: rgb(214, 153, 60)
}

h2{
    text-align: center;
}
h3{
    text-align: center;

}


.webmid{
    width: 650px;
    background-color: blanchedalmond;
    
}

.arblock{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.ar1{
    background-image: url("https://picsum.photos/id/690/200/200");
    width: 176px;
    height: 200px;
    text-align: center;
    background-color: #fff;
    margin: 10px  ;
}


.webright{
    width: 200px;
    background-color: rgb(161, 150, 133);
}


.botcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font: 10px Arial, Helvetica, sans-serif;
    color: #868686;
}

.Description1,.Description2,.Description3{
    margin:auto;
    padding: 10px;
}

.Description1{
    border-bottom: 1px solid #b3b1b1;
}

.Description2{
    display: flex;
    flex-flow: row wrap;
}

.Description2 h3{
    color: rgb(0, 0, 0);
}


.banana{
    width: 180px;

}

.footer1{
    margin-top: 30px;
    padding-bottom: 10px;
    
}

.footer2{
    border-top: 1px solid #b3b1b1;
    padding-top: 10px;
    width: 950px;
}

nav li{
    list-style: none;
    margin-bottom:10px;
}
