body {
  overflow-x: hidden;
  background-color: #000;
}
.navbar,
.dropdown-menu {
  background-color: rgb(40, 40, 40);
}
.dropdown-item:hover {
  background-color: #000;
}
.boss img {
  height: 200px;
  width: 300px;
}
.textArea {
  background-color: #000;
}
.About {
  color: #fff;
  text-align: center;
}
.step {
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  font-size: 30px;
}

.fa {
  font-size: 60px;
  color: orange;
  line-height: 100px !important;
  border-radius: 50%;
  transition: .5s;
}
.fa:hover{
    transform: scale(1.2);
}
